<!DOCTYPE html>
<html>
<head>
  <title>INFO</title>
</head>
<body bgcolor="#CFD8DC">
< face="Times New Roman" size="5">
  <h1>
    Info
  </h1>
  <p>
  <h3>Aim</h3>
  To help people reduce thier stress level and fight depression. Thereby reducing the suicide rate.
  </p>

  <p>
    Ever experienced the relief you feel after sharing your pains/problems to someone. This is exactly what we provide here.
    A platform where people wanting advice/feeling low can interact people willng to help.
  </p>
  <br>
  <hr align="center" size="3" width="100%" noshade>
  <br>
  <h3>How it works</h3>
  <ol start="1" type="1">
    <li>The user has to sign in using an alias name to protect his identity. Here basic info of the user is taken like their field of expertise, hobbies/interests, one line describing themselves etc.
    <li>There are four options from which you can choose from-
      <ol start="1" type="i">
        <li>Feeling Low
        <li>Need Advice
        <li>Feeling Stressed
        <li>Help Others
      </ol>
    <li>Feeling low- This provides the user a set of people who are willing to help at that moment. He/She can choose one of them and talk to them so as to motivate themself.
    <li>Need Advice- A person can posta query in any of the available advice group, this will trigger a notification to all those who have given this as their field of expertise.
    <li>Feeling Stressed- This redirects to a page which helps them meditate and attain peace.
    <li>Help Others- This makes you available for help and would be paired up with a person needing help.
  </ol>
</body>
</html>